<div class="pos_rel" layout-align="center center">
  <div id="home_list_1">
  <!--  <mat-grid-<!--list cols="2">
      <mat-grid-tile>
   <!--     <div class="charactercount">
   <!--       <span>character count </span>
          <span><input type="number" size="2" placeholder="8" [(ngModel)]="characterCount"></span>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="charactercount">
          <span>character count </span>
          <span><input type="number" size="2" placeholder="8" [(ngModel)]="characterCount"></span>
        iv> </div> </mat-grid-tile>
    </matid-list> -->

   <!-- <div class="charactercount">
      <span>character count </span>
      <span><input type="number" size="2" placeholder="8" [(ngModel)]="characterCount"></span>
      <span>Specific text</span>
      <span><input type="text" size="2" placeholder="8" [(ngModel)]="specificCharacters"></span>
    </div>
  </div> -->
  <!--div class="passwordSampleOrComplexOption">
    <span>
      <span> Simple</span>
      <span><input type="checkbox" size="2" placeholder="8" [(ngModel)]="characterCount"></span>
    </span>
    <span><span> Complex</span>
      <span><input type="checkbox" size="2" placeholder="8" [(ngModel)]="characterCount"></span>
    </span>
  </!--div> -->
 
  <div class="button_center" id="home_list_2">
      <button mat-fab color="primary" class="button_style" (click)="quickPasswordClick()">Quick password</button>
  </div>
</div>
